body{
    background-color:rgb(204, 184, 157);
}
.flexhome{
    padding: 30px;
}
.div{
    margin: 20px 40px;
}
img{
    margin:12px;
}
.order{
    background-color: black;
    color: white;
    height: 50px;
}
